
<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <h3>The Even-Odd Counter</h3>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#">Even</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Odd</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">GameControl</a>
          </li>

        </ul>
      </div>
  </nav>
</header>

<div class="row">
  <div class="col-xs-12">
    <app-game-control
    (startingTheGame)="GameStarting($event)">
    </app-game-control>

    <app-odd [oddCount]="oddCounterValue"></app-odd>
    <app-even [evenCount]="evenCounterValue"></app-even>
  </div>
</div>
